.DS_Store

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/
build/
!data/
xcuserdata/
build
xcuserdata
DerivedData
project.xcworkspace

ipch/
*.suo
*.opensdf
*.vcxproj.user

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch

